# macOS system files
.DS_Store
._.DS_Store

# Singularity image
tranquillyzer.sif

# Unwanted hidden files
._*

# Samba-related files
.smbdelete*

# Ignore everything in models folder
models/*
util_2
util_2/*
utils2
utils2/*
# Ignore references and analysis files

tests/references/
tests/10x3p/*

!tests/10x3p/test_pipeline.py
!tests/10x3p/barcodes.tsv
!tests/10x3p/data/
!tests/10x3p/data/**

# But not __init__.py
!models/__init__.py

# Python cache
__pycache__/
*.pyc
*.pyomodels/
tranquilizer.egg-info/
tranquillyzer.egg-info/

# ignore coverage reports
.coverage
coverage.xml
htmlcov/

# Quarto output for documentation site
/.quarto/
/_site/
