name: Prek checks
on:
  push:
    branches: [main,dev]
  pull_request:
    bracnhes: [main,dev]

jobs:
  prek:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: j178/prek-action@v1
